{% extends 'base.html' %}

{% block content %}
<br>
<hr>
{% if error %}
<div class="alert alert-danger" role="alert">
{{ error }}
</div>
<br><br>
{% endif %}
<h1>Login!</h1>
<form method="POST" action="{% url 'login' %}">
	{% csrf_token %}
	<div class="form-group col-md-4">
		<label>User Name:</label>
		<input type="text" class="form-control" name="username">
		<br>
		<label>Password:</label>
		<input type="password" name="password" class="form-control">
		<br>
		<button type="submit" class="btn btn-primary">Login</button>
		<a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>
	</div>
</form>
<br>
<hr><br>

{% endblock %}
